<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Best Sales</title>
    <link rel="stylesheet" th:href="@{/css/home.css}" />
    <link rel="import" th:href="@{../header.html}">
    <link rel="import" th:href="@{../footer.html}">
    <link rel="stylesheet" th:href="@{/css/header.css}" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
</head>
<body>
<div th:replace="header :: header"></div>
<div id="wrapper">
    <h1>Best Seller</h1>
    <div class="best-sales">
        <!-- Duyệt qua danh sách sản phẩm và hiển thị từng sản phẩm -->
        <div th:each="product : ${products}" class="sales-item">
            <img th:src="${product.image}" class="boy-items" alt="Product Image" />
            <div class="sales-caption">
                <h5 th:text="${product.name}">Tên sản phẩm</h5>
                <p th:text="${product.unitPrice}">$ Giá sản phẩm</p>
                <span th:text="${product.discounted}">$ Giá sau khi giảm</span>
            </div>
        </div>
    </div>
</div>
<div th:replace="footer :: footer"></div>
</body>
</html>
