<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <link rel="stylesheet" th:href="@{/css/cart.css}">
</head>
<body>
<h1>Shopping Cart</h1>
<table>
    <thead>
    <tr>
        <th>STT</th>
        <th>Tên sản phẩm</th>
        <th>Hình ảnh</th>
        <th>Số lượng</th>
        <th>Giá</th>
        <th>Tổng</th>
        <th>Thao tác</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cart : ${shoppingCarts}">
        <td th:text="${cart.product.name}">Tên sản phẩm</td>
        <td><img th:src="${cart.product.image}" alt="Product Image" style="width: 100px; height: auto;"></td>
        <td th:text="${cart.quantity}">Số lượng</td>
        <td th:text="${cart.product.unitPrice}">Giá</td>
        <td th:text="${#numbers.formatDecimal(cart.quantity * cart.product.unitPrice, 1, 2)}">Tổng</td>
    </tr>
    </tbody>
</table>
</body>
</html>