<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nhập địa chỉ và Giỏ hàng</title>
    <link rel="stylesheet" th:href="@{/css/shopping.css}">
    <link rel="import" th:href="@{../../header.html}">
    <link rel="stylesheet" th:href="@{/css/header.css}" />
</head>
<body>
<div th:replace="header :: header"></div>

<div class="container">
    <div class="cart-checkout-wrapper">
        <!-- Phần giỏ hàng -->
        <div class="shopping-cart-section">
            <h1>Giỏ hàng của bạn</h1>
            <table class="cart-table">
                <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên sản phẩm</th>
                    <th>Hình ảnh</th>
                    <th>Số lượng</th>
                    <th>Giá</th>
                    <th>Tổng</th>
                    <th>Thao tác</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="cart, stat : ${shoppingCarts}">
                    <td th:text="${stat.index + 1}">STT</td>
                    <td th:text="${cart.product.name}">Tên sản phẩm</td>
                    <td><img th:src="${cart.product.image}" alt="Product Image"></td>
                    <td>
                        <form class="update-quantity-form" th:action="@{/cart/update}" method="post">
                            <div class="quantity-field">
                                <label for="quantity">Số lượng:</label>
                                <input type="number" id="quantity" name="quantity" th:value="${cart.quantity}" min="1" required />
                            </div>
                            <input type="hidden" name="cartId" th:value="${cart.id}" />
                            <button class="btn btn-update-cart" type="submit">Cập nhật</button>
                        </form>
                    </td>
                    <td th:text="${cart.product.getFormattedUnitPrice()}">Giá</td>
                    <td th:text="${cart.product.formatCurrency(cart.quantity * cart.product.unitPrice)}">Tổng</td>
                    <td>
                        <form class="remove-item-form" th:action="@{/cart/delete}" method="post">
                            <input type="hidden" name="cartId" th:value="${cart.id}" />
                            <button class="btn btn-remove-item" type="submit">Xóa</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="cart-total">
                <h2>Tổng tiền: <span th:text="${shoppingCarts[0].product.formatCurrency(totalAmount)}">0.00</span></h2>
            </div>
        </div>

        <!-- Phần thông tin giao hàng -->
        <div class="delivery-info-section">
            <h1>Thông tin giao hàng</h1>
            <form class="delivery-info-form" method="post" th:action="@{cart/checkout}">
                <div class="form-group">
                    <label for="receiveName" class="form-label">Tên người nhận</label>
                    <input type="text" class="input-control" name="receiveName" id="receiveName" required>
                </div>
                <div class="form-group">
                    <label for="address" class="form-label">Địa chỉ người nhận</label>
                    <input type="text" class="input-control" name="address" id="address" required>
                </div>
                <div class="form-group">
                    <label for="phone" class="form-label">Số điện thoại</label>
                    <input type="text" class="input-control" name="phone" id="phone" required>
                </div>
                <button type="submit" class="btn btn-checkout">Thanh toán</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>


